@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

:root {
  --color-bg: #23272e;
  --nord-dark0: #2e3440;
  --nord-dark1: #3b4252;
  --nord-dark2: #434c5e;
  --nord-dark3: #4c566a;
  --nord-light0: #d8dee9;
  --nord-light1: #e5e9f0;
  --nord-light2: #eceff4;
  --nord-frost0: #8fbcbb;
  --nord-frost1: #88c0d0;
  --nord-frost2: #81a1c1;
  --nord-frost3: #5e81ac;
  --nord-acc0: #bf616a;
  --nord-acc1: #d08770;
  --nord-acc2: #ebcb8b;
  --nord-acc3: #a3be8c;
  --nord-acc4: #b48ead;
}

/* Adapted https://gist.github.com/derblub/7393719 */

/* Scrollbar track color */
::-webkit-scrollbar {
  width: 9px; /* 1px wider than Lion. */
  background-color: var(--color-bg);
  -webkit-border-radius: 100px;
}

/* Scrollbar scroller/body color */
::-webkit-scrollbar-thumb:vertical {
  background: var(--nord-dark0);
  -webkit-border-radius: 100px;
}

/* Scrollbar click color */
::-webkit-scrollbar-thumb:vertical:active {
  background: var(--nord-dark2);
  -webkit-border-radius: 100px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: EB Garamond, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-bg);
  color: var(--nord-light0);
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid var(--color-fg);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: var(--nord-acc1);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: var(--nord-dark1);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 1;
  flex-basis: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

.card {
  margin: 1rem;
  width: 70%;
  padding: 1rem;
  text-align: left;
  border-radius: 20px;
  border: 2px solid var(--nord-dark2);
  transition: all 0.2s linear;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--nord-light2);
  background-color: var(--nord-dark0);
  border: 2px solid var(--nord-frost3);
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 0.5rem;
  padding: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
